<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ..|
    | Copyright (c) 2011-2018 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1>
		<wicket:message key="title" />
	</h1>
</div>

<div class="ui-content">

	<div class="sp-txt-wrap sp-txt-warn">
		<wicket:message key="voucher-note" />
	</div>

	<br />

	<label for="voucher-redeem-card-number">
		<wicket:message key="voucher-number" />
	</label>
	<input type="text" id="voucher-redeem-card-number" value=""
		maxlength="128" data-clear-btn="true" autofocus autocomplete="off"
		autocorrect="off" autocapitalize="off" spellcheck="false" />

	<button id="button-voucher-redeem-ok"
		class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-check">
		<wicket:message key="button-redeem" />
	</button>

	<a href="#" id="button-voucher-redeem-back" data-rel="back"
		data-direction="reverse"
		class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back"> <wicket:message
			key="button-back" />
	</a>

</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
