<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +=========================================================================+ 
    | This file is part of the SavaPage project <https://www.savapage.org> ...|
    | Copyright (c) 2011-2018 Datraverse B.V. | Author: Rijk Ravestein........| 
    |.........................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify .......|
    | it under the terms of the GNU Affero General Public License as .........|
    | published by the Free Software Foundation, either version 3 of .........|
    | the License, or (at your option) any later version. ....................|
    +=========================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1>
		<wicket:message key="title" />
	</h1>
</div>

<div class="ui-content">

	<div id="page-user-internet-printer-content" />

	<div data-role="controlgroup" data-type="horizontal">

		<a href="#" class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back"
			data-rel="back" data-direction="reverse" wicket:id="button-back" />

	</div>

</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
