<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +=========================================================================+ 
    | This file is part of the SavaPage project <https://www.savapage.org> ...|
    | Copyright (c) 2011-2018 Datraverse B.V. | Author: Rijk Ravestein........| 
    |.........................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify .......|
    | it under the terms of the GNU Affero General Public License as .........|
    | published by the Free Software Foundation, either version 3 of .........|
    | the License, or (at your option) any later version. ....................|
    +=========================================================================+ 
    -->
</wicket:remove>


<div data-role="header" data-theme="b">
	<h1 id="dashboard-title" />
</div>

<div class="ui-content">

	<ul data-role="listview" id="dashboard-list" data-inset="true"
		class="ui-listview ui-listview-inset ui-corner-all ui-shadow" />

	<div>
		<wicket:enclosure child="button-user-pw-dialog">
			<a wicket:id="button-user-pw-dialog"
				class="sp-internal-user ui-btn ui-btn-inline ui-btn-icon-left ui-icon-edit"
				href="#" id="button-user-pw-dialog" />
		</wicket:enclosure>

		<wicket:enclosure child="button-user-pin-dialog">
			<a wicket:id="button-user-pin-dialog"
				class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-edit" href="#"
				id="button-user-pin-dialog" />
		</wicket:enclosure>

		<wicket:enclosure child="button-user-internet-printer-dialog">
			<a wicket:id="button-user-internet-printer-dialog"
				class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-cloud" href="#"
				id="button-user-internet-printer-dialog" />
		</wicket:enclosure>

		<a href="#" data-rel="back" data-direction="reverse"
			class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back"> <wicket:message
				key="button-back" />
		</a>

	</div>

</div>

<wicket:remove>
	<!-- 
	THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
	-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />

