<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ..|
    | Copyright (c) 2011-2018 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="a">
	<h1 data-i18n="header-user"></h1>
</div>

<div class="ui-content" id="content-user">

	<div>
		<div class="ui-field-contain">
			<label for="send-mailto" data-i18n="send-mailto"></label>
			<input type="text" name="send-mailto" id="user-mailto" value=""
				maxlength="128" autocomplete="off" autocorrect="off"
				autocapitalize="off" spellcheck="false" />
		</div>
	</div>

	<a href="#" data-rel="back" data-direction="reverse"
		class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back"
		data-i18n="button-back"></a> <a href="#"
		id="button-user-email-default" class="ui-btn ui-btn-inline"
		data-i18n="button-default"></a>

</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
