<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <http://savapage.org> ...|
    | Copyright (c) 2011-2016 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<wicket:panel>
	<div class="sp-txt-wrap" wicket:id="message" />
	<wicket:enclosure child="redeemDate">
		<p class="sp-txt-info sp-txt-wrap">
			<span wicket:id="redeemDate" /> &bull; <span wicket:id="redeemUser" />
		</p>
	</wicket:enclosure>
	<p class="ui-li-aside">
		<strong wicket:id="status"></strong>
	</p>
</wicket:panel>