<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ..|
    | Copyright (c) 2011-2017 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<span style="display: none;" class="json-rsp" wicket:id="json-rsp"></span>

<wicket:panel wicket:id="nav-bar-1"/>
<br />
<div>
	<ul data-role="listview" data-filter="false">
		<li wicket:id="voucher-entry-view">
			<wicket:panel wicket:id="voucher-entry"/>
		</li>
	</ul>
</div>
<p>&nbsp;</p>
<wicket:panel wicket:id="nav-bar-2"/>
