<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ...|
    | Copyright (c) 2011-2018 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div id="dashboard-system-status-addin">
	<wicket:panel wicket:id="system-status-panel" />
</div>

<ul data-role="listview" data-inset="true">
	<li data-role="list-divider" wicket:id="realtime-activity" />
	<li>
		<div id="live-messages" class="sp-live-msg"
			style="font-size: small; font-weight: normal"></div>
		<div>
			<button id="live-messages-clear" class="ui-btn ui-btn-inline"
				wicket:id="button-clear" />
			<wicket:remove>
				<button id="live-messages-pause" class="ui-btn ui-btn-inline">Pause</button>
				<button id="live-messages-resume" class="ui-btn ui-btn-inline"
					style="display: none;">Resume</button>
			</wicket:remove>
		</div>
	</li>

</ul>
