<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <http://savapage.org> ...|
    | Copyright (c) 2011-2016 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<ul id="license-msg" data-role="listview" data-inset="true">

	<li data-role="list-divider" wicket:id="title" />

	<li>
		<h3>
			<span class="sp-txt-wrap" wicket:id="membership-status" />
		</h3>
		<div class="sp-txt-wrap" wicket:id="membership-msg" />
	</li>

</ul>
