<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <http://savapage.org> ...|
    | Copyright (c) 2011-2016 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1>
		/<span id="title-queue" />
	</h1>
</div>

<div class="ui-content" id="content-queue">

	<ul data-role="listview" data-inset="true">

		<li data-role="list-divider" id="queue-header" />

		<li>
			<span id="queue_reserved_section" class="sp-txt-warn"> <wicket:message
					key="queue-reserved" /></span>

			<div class="ui-field-contain">
				<label for="queue-url-path">
					<wicket:message key="queue-url-path" />
				</label>
				<input type="text" id="queue-url-path" value="" maxlength="128"
					autofocus autocomplete="off" autocorrect="off" autocapitalize="off"
					spellcheck="false" />
			</div>

			<div>
				<label for="queue-ip-allowed">
					<wicket:message key="queue-ip-allowed" />
				</label>
				<input type="text" id="queue-ip-allowed" value="" maxlength="255"
					autocomplete="off" autocorrect="off" autocapitalize="off"
					spellcheck="false" />
			</div>

			<fieldset data-role="controlgroup" data-type="vertical">

				<label for="queue-trusted">
					<wicket:message key="queue-trusted" />
				</label>
				<input type="checkbox" id="queue-trusted" value="0" />

				<label for="queue-disabled">
					<wicket:message key="queue-disabled" />
				</label>
				<input type="checkbox" id="queue-disabled" value="0" />

			</fieldset>

			<div class="queue_user-defined-section">
				<label for="queue-deleted">
					<wicket:message key="queue-deleted" />
				</label>
				<input type="checkbox" id="queue-deleted" value="0" />
			</div>
		</li>
	</ul>

	<button id="button-save-queue"
		class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-check">
		<wicket:message key="button-ok" />
	</button>

	<a href="#" data-rel="back" data-direction="reverse"
		class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back"
		id="button-cancel-queue"> <wicket:message key="button-cancel" />
	</a>

</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
