<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <http://savapage.org> ...|
    | Copyright (c) 2011-2016 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1>
		<wicket:message key="title" />
	</h1>
</div>
<div class="ui-content">
	<wicket:remove>
		<!-- 
    To be filled by JavaScript: see UserGroupsAddRemoveAddIn.java/html  
    -->
	</wicket:remove>
	<div id="sp-user-groups-add-remove-addin" />
	<div>
		<button id="button-user-groups-add-remove-ok"
			class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-check">
			<wicket:message key="button-ok" />
		</button>
		<a href="#" data-rel="back" data-direction="reverse"
			class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back">
			<wicket:message key="button-cancel" />
		</a>
	</div>
</div>
<wicket:remove>
	<!-- ==============================================================  
    Dialog for Membership Card file upload must be pre-loaded for the 
    Wicket handler to work. It does NOT work on injected mobile pages. 
     ================================================================== -->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
