<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <http://savapage.org> ...|
    | Copyright (c) 2011-2016 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<wicket:panel>
	<li data-role="list-divider">
		<wicket:message key="title-financial-totals" />
	</li>

	<li>
		<wicket:remove>
			<!--
		+======================================================================+
		| http://api.jquerymobile.com/table-reflow/
        |  ... to use pre-configured  breakpoint, add the ui-responsive class 
        |  to the table to convert from the stacked presentation to a tabular 
        |  presentation at 560px (35em)		
		+======================================================================+
		-->
		</wicket:remove>
		<table data-role="table" data-mode="reflow"
			class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th data-priority="1">
						<wicket:message key="accounts" />
					</th>
					<th data-priority="1">
						<wicket:message key="debit" />
					</th>
					<th colspan="2" data-priority="1">
						<wicket:message key="credit" />
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td wicket:id="currency-code" />
					<td class="sp-txt-info" wicket:id="accounts-deb-sum" />
					<td colspan="2" class="sp-txt-warn" wicket:id="accounts-crd-sum" />
				</tr>
				<tr>
					<td>
						<wicket:message key="accounts-min" />
					</td>
					<td class="sp-txt-info" wicket:id="accounts-deb-min" />
					<td colspan="2" class="sp-txt-warn" wicket:id="accounts-crd-min" />
				</tr>
				<tr>
					<td>
						<wicket:message key="accounts-max" />
					</td>
					<td class="sp-txt-info" wicket:id="accounts-deb-max" />
					<td colspan="2" class="sp-txt-warn" wicket:id="accounts-crd-max" />
				</tr>
				<tr>
					<td>
						<wicket:message key="accounts-avg" />
					</td>
					<td class="sp-txt-info" wicket:id="accounts-deb-avg" />
					<td colspan="2" class="sp-txt-warn" wicket:id="accounts-crd-avg" />
				</tr>
				<tr>
					<td>
						<wicket:message key="accounts-count" />
					</td>
					<td class="sp-txt-info" wicket:id="accounts-deb-cnt" />
					<td colspan="2" class="sp-txt-warn" wicket:id="accounts-crd-cnt" />
				</tr>
				<wicket:enclosure child="bitcoin-wallet-cur-code">
					<tr>
						<th data-priority="1">
							<span wicket:id="bitcoin-wallet-link" />
						</th>
						<th data-priority="1">
							<wicket:message key="debit" />
						</th>
						<th colspan="2" data-priority="1">
							<wicket:message key="date" />
						</th>
					</tr>
					<tr>
						<td wicket:id="bitcoin-wallet-cur-code" />
						<td class="sp-txt-info" wicket:id="bitcoin-wallet-cur" />
						<td colspan="2" class="sp-txt-info"
							wicket:id="bitcoin-wallet-datetime" />
					</tr>
					<tr>
						<td>BTC</td>
						<td class="sp-txt-info" wicket:id="bitcoin-wallet-btc" />
						<td colspan="2" />
					</tr>
					<tr>
						<td>
							<wicket:message key="bitcoin-addresses" />
						</td>
						<th data-priority="1">
							<wicket:message key="bitcoin-addresses-total" />
						</th>
						<th data-priority="1">
							<wicket:message key="bitcoin-addresses-payments" />
						</th>
						<th data-priority="1">
							<wicket:message key="bitcoin-addresses-open" />
						</th>
					</tr>
					<tr>
						<td>
							<button id="button-bitcoin-wallet-refresh"
								class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-refresh ui-mini">
								<wicket:message key="button-refresh" />
							</button>
						</td>
						<td class="sp-txt-info" wicket:id="bitcoin-wallet-addr" />
						<td class="sp-txt-info" wicket:id="bitcoin-wallet-addr-received" />
						<td class="sp-txt-info" wicket:id="bitcoin-wallet-addr-open" />
					</tr>

				</wicket:enclosure>
				<wicket:enclosure child="bitcoin-wallet-msg">
					<tr>
						<td class="sp-txt-warn sp-txt-wrap" colspan="3"
							wicket:id="bitcoin-wallet-msg" />
					</tr>
				</wicket:enclosure>
			</tbody>
		</table>
	</li>

</wicket:panel>