<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <http://savapage.org> ...|
    | Copyright (c) 2011-2016 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<wicket:panel>

	<div data-role="header" id="header-zero-page">
		<h1 wicket:id="zero-page-title"></h1>
	</div>

	<div class="ui-content">
		<h3>
			<wicket:message key="zero-page-saluation" />
		</h3>
		<form wicket:id="refresh-page-form" action="#" method="post">
			<input wicket:id="refresh-page-submit" id="button-refresh-webapp"
				type="button" data-inline="true" value="[Continue]" />
		</form>
	</div>
</wicket:panel>