<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +=========================================================================+ 
    | This file is part of the SavaPage project <https://www.savapage.org> ...|
    | Copyright (c) 2011-2017 Datraverse B.V. | Author: Rijk Ravestein........| 
    |.........................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify .......|
    | it under the terms of the GNU Affero General Public License as .........|
    | published by the Free Software Foundation, either version 3 of .........|
    | the License, or (at your option) any later version. ....................|
    +=========================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1>
		<wicket:message key="title" />
	</h1>
</div>

<div class="ui-content">

	<label wicket:id="inject" />

	<wicket:enclosure child="app-version">
		<h3 wicket:id="app-version" />
		<p class="sp-txt-wrap">
			<span wicket:id="app-slogan" /> Services.
		</p>
		<wicket:panel wicket:id="savapage-info" />
	</wicket:enclosure>

	<wicket:enclosure child="savapage-info-after-inject">
		<div style="font-size: small;">
			<hr />
			<p>
				Powered by <span wicket:id="app-product-name" /> <span
					wicket:id="app-product-slogan" /> <span
					wicket:id="app-product-version" />
			</p>
			<wicket:panel wicket:id="savapage-info-after-inject" />
		</div>
	</wicket:enclosure>

	<div>
		<a href="#" class="ui-btn ui-btn-inline ui-icon-back ui-btn-icon-left"
			id="button-appinfo-cancel" data-rel="back" data-direction="reverse"
			wicket:id="button-back" />
	</div>
</div>




