<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ..|
    | Copyright (c) 2011-2017 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<wicket:panel>

	<wicket:panel wicket:id="option-font-families">
		<option value="the-enum-to-string" wicket:id="option-font-family" />
	</wicket:panel>

</wicket:panel>