<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +========================================================================+ 
    | This file is part of the SavaPage project <https://www.savapage.org> ..|
    | Copyright (c) 2011-2017 Datraverse B.V. | Author: Rijk Ravestein.......| 
    |........................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ......|
    | it under the terms of the GNU Affero General Public License as ........|
    | published by the Free Software Foundation, either version 3 of ........|
    | the License, or (at your option) any later version. ...................|
    +========================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1>
		<wicket:message key="title" />
	</h1>
</div>

<div class="ui-content">

	<p>
		<wicket:message key="select-language" />
	</p>

	<div>
		<ul data-role="listview" data-inset="true" id="language-list">
			<wicket:panel wicket:id="language-list">
				<li>
					<a href="#" data-language="xx" data-country="XX"
						wicket:id="language">Xxxx</a>
				</li>
			</wicket:panel>
		</ul>
	</div>

	<a href="#page-login" id="button-lang-cancel"
		class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back"
		wicket:id="button-cancel" />

</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
