<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ..|
    | Copyright (c) 2011-2018 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div data-role="header">
	<h1>
		<wicket:message key="title" />
	</h1>
</div>

<div class="ui-content">

	<h3 id="sp-not-authorized">
		<wicket:message key="msg-not-authorized" />
	</h3>

	<p>
		<button class="ui-btn ui-btn-inline"
			id="sp-button-continue-after-expire" wicket:id="btn-continue" />
	</p>
</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
