<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ..|
    | Copyright (c) 2011-2017 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<wicket:panel>
	<div data-role="controlgroup" data-type="horizontal">
		<button class="ui-btn" wicket:id="nav-button-first"></button>
		<button class="ui-btn" wicket:id="nav-button-prev"></button>
		<wicket:panel wicket:id="log-nav-1">
			<button class="ui-btn" wicket:id="nav-button" />
		</wicket:panel>
		<button class="ui-btn" wicket:id="nav-button-next">&gt;</button>
		<button class="ui-btn" wicket:id="nav-button-last"></button>
	</div>
</wicket:panel>
