<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +=========================================================================+ 
    | This file is part of the SavaPage project <https://www.savapage.org> ...|
    | Copyright (c) 2011-2017 Datraverse B.V. | Author: Rijk Ravestein........| 
    |.........................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify .......|
    | it under the terms of the GNU Affero General Public License as .........|
    | published by the Free Software Foundation, either version 3 of .........|
    | the License, or (at your option) any later version. ....................|
    +=========================================================================+ 
    -->
</wicket:remove>

<wicket:panel>
         &bull; <span wicket:id="papersize" />
	<wicket:enclosure child="landscape"> &bull; <span
			class="sp-txt-info" wicket:id="landscape" />
	</wicket:enclosure>
	<wicket:enclosure child="duplex"> &bull; <span
			class="sp-txt-valid" wicket:id="duplex" />
	</wicket:enclosure>
	<wicket:enclosure child="simplex"> &bull; <span
			class="sp-txt-info" wicket:id="simplex" />
	</wicket:enclosure>
	<wicket:enclosure child="color"> &bull; <span
			class="sp-txt-warn" wicket:id="color" />
	</wicket:enclosure>
	<wicket:enclosure child="grayscale"> &bull; <span
			class="sp-txt-valid" wicket:id="grayscale" />
	</wicket:enclosure>
	<wicket:enclosure child="punch"> &bull; <span
			class="sp-txt-job-finishing" wicket:id="punch" />
	</wicket:enclosure>
	<wicket:enclosure child="staple"> &bull; <span
			class="sp-txt-job-finishing" wicket:id="staple" />
	</wicket:enclosure>
	<wicket:enclosure child="fold"> &bull; <span
			class="sp-txt-job-finishing" wicket:id="fold" />
	</wicket:enclosure>
	<wicket:enclosure child="booklet"> &bull; <span
			class="sp-txt-job-finishing" wicket:id="booklet" />
	</wicket:enclosure>
	<wicket:enclosure child="jobticket-media"> &bull; <span
			class="sp-txt-job-ticket-attr" wicket:id="jobticket-media" />
	</wicket:enclosure>
	<wicket:enclosure child="jobticket-copy"> &bull; <span
			class="sp-txt-job-ticket-attr" wicket:id="jobticket-copy" />
	</wicket:enclosure>
	<wicket:enclosure child="jobticket-finishings-ext"> &bull; <span
			class="sp-txt-job-ticket-attr" wicket:id="jobticket-finishings-ext" />
	</wicket:enclosure>
	<wicket:enclosure child="jobticket-custom-ext"> &bull; <span
			class="sp-txt-job-ticket-attr" wicket:id="jobticket-custom-ext" />
	</wicket:enclosure>

</wicket:panel>