<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +=========================================================================+ 
    | This file is part of the SavaPage project <https://www.savapage.org> ...|
    | Copyright (c) 2011-2017 Datraverse B.V. | Author: Rijk Ravestein........| 
    |.........................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify .......|
    | it under the terms of the GNU Affero General Public License as .........|
    | published by the Free Software Foundation, either version 3 of .........|
    | the License, or (at your option) any later version. ....................|
    +=========================================================================+ 
    -->
</wicket:remove>

<wicket:panel>

	<div data-role="collapsible" data-mini="true" data-inset="true">
		<h2>
			<wicket:message key="header" />
		</h2>
		<ul data-role="listview">
			<li class="ui-mini">
				<h3>CUPS</h3>
				<div>
					<a class="sp-plain-link ui-btn ui-corner-all ui-btn-inline ui-mini"
						href="/client/SAVAPAGE.ppd" target="_blank">SAVAPAGE.ppd</a>
				</div>
				<h3>Windows</h3>
				<wicket:message key="windows-driver-msg" />
			</li>
		</ul>
	</div>

</wicket:panel>