<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <https://savapage.org> ..|
    | Copyright (c) 2011-2018 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1 id="user-pin-reset-title" />
</div>

<div class="ui-content">

	<h3>
		<wicket:message key="pin-reset" />
	</h3>

	<label for="user-pin-reset">
		<wicket:message key="pin" />
	</label>
	<input type="password" id="user-pin-reset" maxlength="8" value=""
		autofocus pattern="[0-9]*" />

	<label for="user-pin-reset-confirm">
		<wicket:message key="pin-confirm" />
	</label>
	<input type="password" id="user-pin-reset-confirm" maxlength="8"
		value="" pattern="[0-9]*" />

	<div>
		<button id="button-user-pin-reset"
			class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-check">
			<wicket:message key="button-apply" />
		</button>

		<a href="#" class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back"
			data-rel="back" data-direction="reverse"> <wicket:message
				key="button-cancel" />
		</a>
	</div>
</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
