<?xml version="1.0" encoding="UTF-8"?>
<wicket:remove>
	<!-- 
    +====================================================================+ 
    | This file is part of the SavaPage project <http://savapage.org> ...|
    | Copyright (c) 2011-2016 Datraverse B.V. | Author: Rijk Ravestein...| 
    |....................................................................| 
    | SavaPage is free software: you can redistribute it and/or modify ..|
    | it under the terms of the GNU Affero General Public License as ....|
    | published by the Free Software Foundation, either version 3 of ....|
    | the License, or (at your option) any later version. ...............|
    +====================================================================+ 
    -->
</wicket:remove>

<div data-role="header" data-theme="b">
	<h1 id="user-pw-reset-title" />
</div>

<div class="ui-content">

	<ul data-role="listview" data-inset="true">

		<li>
			<h3>
				<wicket:message key="password-reset" />
			</h3>
		</li>

		<li>
			<label for="user-pw-reset">
				<wicket:message key="password" />
			</label>
			<input type="password" id="user-pw-reset" maxlength="32" value=""
				autofocus />

			<label for="user-pw-reset-confirm">
				<wicket:message key="password-confirm" />
			</label>
			<input type="password" id="user-pw-reset-confirm" maxlength="32"
				value="" />

		</li>

		<li>
			<div>
				<button id="button-user-pw-reset"
					class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-check">
					<wicket:message key="button-apply" />
				</button>

				<a href="#" data-rel="back" data-direction="reverse"
					class="ui-btn ui-btn-inline ui-btn-icon-left ui-icon-back">
					<wicket:message key="button-cancel" />
				</a>
			</div>
		</li>
	</ul>
</div>

<wicket:remove>
	<!-- 
THIS POPUP MUST BE PRESENT IN EVERY PAGE AND DIALOG 
-->
</wicket:remove>
<div data-role="popup" data-position-to="window"
	class="sp-msg-popup ui-content" />
